{% extends "otree/BaseAdmin.html" %}
{% load staticfiles  %}
{% block title %}
Phone records
{% endblock %}

{% block content %}

{% if object_list %}
<table class="table table-hover table-striped">
    <thead>
    <th>Phone ID</th>
    <th>Participant code</th>
    <th>Link to the survey</th>
    <th>Already initiated the study</th>
    </thead>
    <tbody>
    {% for phone_record in object_list %}
    <tr>
        <td>{{phone_record.phone_id}}</td>
        <td>{{phone_record.participant.code}}</td>
        <td><a href="{{ phone_record.get_absolute_url }}">Link to study</a></td>
        <td> {{phone_record.taken|yesno:"Yes, No"}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<li>No records.</li>
{% endif %}

<a href="{% url 'linked_sessions_list' %}" class="btn btn-default btn-lg " role="button">Back</a>


{% endblock %}

{% block internal_styles %}

{{ block.super }}

{% endblock %}

